@use "variables";
.favourite {
    &__button {
        height: fit-content;
        width: fit-content;
    }
    &__icon {
        height: 32px;
        width: 32px;
        color: variables.$green-color;
    }
}
